mixin pagemenu
    ul
        li
            a(href='/') Hjem
        li
            a(href='/guide') Info
        li
            a(href='/respond') Svar
        li
            a(href='/wishlist') Ønskeliste
        li
            a(href='/sleep') Overnatting

doctype html
html
  head
    title= title
    meta(name="description", content="Trine og Vegard gifter seg den 27. august 2016.")
    meta(name="author", content="Vegard Helland")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(property="og:title", content=title)
    meta(property="og:type", content="website")
    meta(property="og:description", content="Trine og Vegard gifter seg den 27. august 2016.")
    meta(property="og:url", content="http://www.trineogvegard.com/" + currentPath)
    meta(property="og:image", content="http://www.trineogvegard.com/images/togv.jpg")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@vegardh")
    meta(name="twitter:title", content=title)
    meta(name="twitter:description", content="Trine og Vegard gifter seg den 27. august 2016")
    meta(name="twitter:image", content="http://www.trineogvegard.com/images/togv.jpg")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body(class=currentPath)
    div.content-wrapper
        header.mobile
            div.hamburger
                div
                div
                div
        div.container
            nav.lg
                +pagemenu
            nav.mobile
                +pagemenu            
            div.content-overlay
            div.content    
                block content
    block scripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="/javascripts/togv.js")
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-76841402-1', 'auto');
        ga('send', 'pageview');


